aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
async-timeout==4.0.2
attrs==23.1.0
azure-ai-formrecognizer==3.2.1
azure-ai-textanalytics==5.3.0
azure-common==1.1.28
azure-core==1.28.0
azure-cosmos==4.4.0
azure-search-documents==11.4.0b6
azure-storage-blob==12.17.0
azure-storage-file-share==12.13.0
azure-ai-documentintelligence
beautifulsoup4==4.12.2
bidict==0.22.1
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
chromadb
cryptography==41.0.3
comtypes==1.3.0
dataclasses-json==0.5.14
diagrams==0.23.4
dnspython==2.4.1
doc2text==0.2.4
python-docx==1.1.0
exceptiongroup==1.1.3
fastapi==0.110.0
frozenlist==1.4.0
greenlet==2.0.2
h11==0.14.0
idna==3.4
isodate==0.6.1
langchain==0.1.13
langchain-core==0.1.33
langchain-community==0.0.29
langchain-cli==0.0.21
langchain_experimental==0.0.53
langchain_openai==0.1.1
langchain-mistralai==0.0.5
langchain-mongodb==0.1.3
langsmith==0.1.31
langserve==0.0.51
langgraph==0.0.30
lxml==4.9.3
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-enum==1.5.1
msal==1.23.0
msal-extensions==1.0.0
msrest==0.7.1
multidict==6.0.4
mistralai==0.1.3
python-multipart==0.0.6
mypy-extensions==1.0.0
nest-asyncio==1.5.7
numexpr==2.8.5
numpy==1.25.2
oauthlib==3.2.2
openai==1.11.1
openapi-pydantic==0.4.0
openapi-schema-pydantic==1.2.4
packaging==23.2
pandas==2.2.1
pgvector==0.2.4
psycopg2==2.9.9
pycparser==2.21
pydantic==2.6.3
PyJWT==2.8.0
pymongo==4.6.1
PyMuPDF==1.23.7
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.5.1
python-socketio==5.8.0
atlassian-python-api==3.41.11
python-jwt
pytz==2023.3
PyYAML==6.0.1
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
sqlalchemy==2.0.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
starlette==0.36.3
tenacity==8.2.2
tiktoken==0.5.2
tqdm==4.65.0
typing-inspect==0.9.0
typing-extensions==4.9.0
tzdata==2023.3
urllib3==1.26.15
uvicorn==0.23.2
gunicorn==21.2.0
Werkzeug==2.3.6
yarl==1.9.2
e2b
duckduckgo-search
stackapi
google-api-python-client
html2text
faiss-cpu
docx2pdf
python-jose
unstructured
networkx
openpyxl
fake_useragent
colorlog
yfinance==0.2.36

